.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.icon{
    width: 25px;
    margin-right: 20px;
}

.nav-list{
    display: flex;
    gap: 50px;
}

.nav-link{
    color: black;
}